#homepage{
  background-color: #3e3e3e;
  backgroud-size: 100% 100%;
  background-position: center;
  font-family: Raleway;
  color: white;
}
#content{
  text-align: center;
  padding-top: 2%;
}
#wc{
  font-size: 5em;
}
hr{
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgb(0,0,0,0.2)
}
