#homepage{
  background-color: #3e3e3e;
  backgroud-size: 100% 100%;
  background-position: center;
  font-family: Raleway;
  color: white;
}
#content{
  text-align: center;
  padding-top: 2%;
}
#wc{
  font-size: 5em;
}
hr{
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgb(0,0,0,0.2)
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
