img{
	width: 30%;
	float: left;
	margin: 1.66%;
}
p{
	font-family: 'Raleway', sans-serif;
	margin-left: 1.66%;
	font-size: 45px;
	text-transform: uppercase;
	border-bottom: 3px solid #e3e3e3;
	width: 30%;
}